h1 {
  text-align: center;
}
.aboutme {
  font-size: 18pt;
  text-align: justify;
}
img {
  border: 4px solid #d86aa1; 
}
.panel-body {
  background-color: #f1bbd6;
}
a {
  color: #677079;
}
a:hover {
  color: #d86aa1;
}
/* {
  border: 1px solid red;
}/