h1 {
  text-align: center;
}
.aboutme {
  font-size: 18pt;
  text-align: justify;
}
img {
  border: 4px solid #d86aa1; 
}
.iconz {
  border: none;
  float: right;
  padding: 3 px;
}
/*.jumbotron img {
  float: left;
}*/
.panel {
  margin-top: 12px;
}
.panel-body {
  background-color: #f1bbd6;
}
a {
  color: #677079;
}
a:hover {
  color: #d86aa1;
}
.jumbotron {
  text-align: center;
}
.panel-primary {
  border-color: #d86aa1;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #d86aa1;
  border-color: #d86aa1;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d86aa1;
}
.panel-primary > .panel-heading .badge {
  color: #d86aa1;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d86aa1;
}
/* * {
  border: 1px solid red;
} */